.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.containerContent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 60px;
  max-width: 600px;
}

.containerCardsForecast {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

/* @media (min-width: 600px)
{
  .facet_sidebar
   {
    display: none;
   }
} */
